/* Section */
.section {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 2.45fr 1fr 2fr;
  margin-top: 92px;
  align-items: center;
}

.header__menu {
  padding-left: 51px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item {
  margin-left: 30px;
  list-style-type: circle;
  text-underline-position: under;

}

.header__links-list-item_no-bullit {
  margin-left: 0;
  list-style-type: none;
}

.header__link-active {
  text-decoration: none;
}

/* Размер не по макету, чтобы попасть в Pixel Perfect, реальный размер 148px */
.header__logo {
  width: 140px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding-right: 53px;
  line-height: 24.3px;
}

.header__address {
  font-size: 18px;
  font-weight: 400;
  text-underline-position: under;
}

/* Main */
/* Cover */
.cover {
  margin-top: 91px;
  position: relative;
  width: 100%;
  height: 757px;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.6;

}

.cover__title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 8px;
  padding-top: 166px;
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding-left: 48px;
}

.aligned-text-center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 22px;
}

.aligned-text-right {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  padding-left: 12px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 30%;
  align-items: flex-end;
  padding-bottom: 60px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  padding-left: 420px;
}

.bet-button {
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin: -11px 51px;
  color: #FFF;
  border: 1px solid #fff;
  padding-left: 35px;
  padding-right: 32px;
  padding-bottom: 11px;
  padding-top: 13px;
  text-transform: uppercase;
}

/* Lots */
.lots {
  margin: 180px 50px;
}

.lots__heading {
color: #000;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
padding-left: 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
  margin-top: 27px;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  position: relative;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 50px 40px 0px 40px;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  z-index: 1;
  padding: 0 40px 50px 40px
}


.lots__look-more-link {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-underline-position: under;
  padding-top: 30px;
  padding-left: 40px;
}

/* About */
.about {
  margin: 0 50px 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 120px;

}

.about__logo {
  display: flex;
  justify-content: center;
  width: 430px;
}

.about__logo-image {
  width: 235px;
  border: #000 solid;
  border-radius: 120px;
  padding: 63px 46px;
  background-color: #000;
}

.about__title {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 7px;
}

.about__text {
  grid-column: 2 / 2;
  color: #000;
  font-size: 20px;
  padding-left: 7px;
  padding-top: 5px;
}

/* Footer */
.footer {
  margin-top: 180px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.address__footer {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding-right: 53px;
  padding-left: 45px;
  line-height: 24.3px;
}

.footer__menu {
  padding-right: 45px;
  padding-top: 3px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-list-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  padding-right: 53px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.footer__social-icon {
  width: 50px;
}
